/* style.css */
/* Add your custom styles for the entire site here */

/* styles.css */
/* Add your custom styles specific to this page here */

body {
    font-family: 'Arial', sans-serif;
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhackernoon.com%2Fimages%2Ff2px36fy.gif&f=1&nofb=1&ipt=5dcc517a9a0ee737b334433882bac8cb82629699c726c90d0067a688f3a4efe4&ipo=images") no-repeat center center fixed;
    background-size: cover;
    color: #f0e995;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.project h3 {
    color: #007bff;
}

.project p {
    text-align: left;
    color: #343a40;
}

.project img {
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

/* Circular image for the introduction */
.flex-item img {
    border-radius: 50%; /* Make it circular */
}

.back-to-home {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px; /* Make it circular */
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.back-to-home:hover {
    background-color: #0056b3;
}

.top-back-to-home {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px; /* Make it circular */
    transition: background-color 0.3s ease;
}

.top-back-to-home:hover {
    background-color: #0056b3;
}
